
/*
 * Infrastructure configuration
 */
//docker.fixOwnership = true
profiles {
    docker_on {
        docker.enabled = true
    }
    conda_on {
        conda.enabled = true
    }
    my_laptop {
        process.executor = 'local'
        docker.enabled = true
    }
    univ_hpc {
        process.executor = 'slurm'
        conda.enabled = true
        process.resourceLimits = [
            memory: 750.GB,
            cpus: 200,
            time: 30.d
        ]
    }
    // this allows the user to try the workflow without having to provide inputs or params file
    demo {
        // Primary input (file of input files, one per line)
        params.reads_bam        = "data/sample_bams.txt"

        // Output directory
        params.outdir           = 'results_genomics'

        // Accessory files
        params.reference        = "data/ref/ref.fasta"
        params.reference_index  = "data/ref/ref.fasta.fai"
        params.reference_dict   = "data/ref/ref.dict"
        params.intervals        = "data/ref/intervals.bed"

        // Base name for final output file
        params.cohort_name      = "family_trio"
    }
}


/*
 * Pipeline parameters
 */

//params {
//    // Primary input (file of input files, one per line)
//    reads_bam        = "${projectDir}/data/sample_bams.txt"
//
//    // Output directory
//    outdir           = 'results_genomics'
//
//    // Accessory files
//    reference        = "${projectDir}/data/ref/ref.fasta"
//    reference_index  = "${projectDir}/data/ref/ref.fasta.fai"
//    reference_dict   = "${projectDir}/data/ref/ref.dict"
//    intervals        = "${projectDir}/data/ref/intervals.bed"
//
//    // Base name for final output file
//    cohort_name      = "family_trio"
//}

// pulling params from the demo-params.json and calling it with:
// nextflow run main.nf -profile my_laptop -params-file demo-params.json
params {
    // Primary input (file of input files, one per line)
    reads_bam        = null

    // Output directory
    outdir           = null

    // Accessory files
    reference        = null
    reference_index  = null
    reference_dict   = null
    intervals        = null

    // Base name for final output file
    cohort_name      = "my_cohort"
}
